# Environments
.env
.env.*
.venv

# 
# ignore all files logs
logs
test.sh


# ignore all files .DS_Store
````
.DS_Store
````
.vscode/settings.json

# jupyter notebook checkpoints
services/jupyter/notebooks/.*
services/jupyter/notebooks/**/.*
services/jupyter/notebooks/**/_SUCCESS
services/jupyter/notebooks/**/part*.*